@import url('https://fonts.googleapis.com/css?family=Comfortaa');
h1.a {
	font-family: 'Comfortaa', cursive;
	font-size: 30pt;
}
p.a {
	font-family: 'Comfortaa', cursive;
	font-size: 15pt;
}
div.a {
    margin-left: auto;
    margin-right: auto;
}